<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <meta charset="UTF-8">
    <title>年轻人的网站</title>
</head>




<body>
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<tr>


<td><font   color="green" size="+2">| 一周热点 </font> </td>  <td></td><td> </td> <td></td> <font   color="#a9a9a9"><td>食品安全|</td>  <td>健康咨询| </td> <td>政策法规|</td><td>产业经济</td></font>
</tr>

    <hr>
<font     color="#ff7f50" size="+2">吃货必看:若吃了这种肉100%会短命！</font>  <br><br>
身边有不少吃货，总是喜欢搜罗各种美食，吃一些不同寻常新鲜的东西。那你知道这些吗？这面这些肉》...更多》》<br>
<hr><br>

<font   color="#ff4500" size="+2">切记！以后再别这样喝豆浆了</font><br><br>
豆浆是男女老少都很喜欢的一种饮品，豆浆的营养价值非常丰富，而且能够给人带来许多的养生功效。...更多》》<br>
<hr>
<font   color="#696969"  size="+2">蒸米饭的错误你犯过几个？</font><br><br>
蒸米饭听上去简单，其实也有不少讲究，以下是蒸米饭是常犯的一些错，看看你犯过几个？...更多》<br>
<hr>

<div class="row">
        <div class="col-md-6"><font   color="green" size="+1">| 热门推荐 </font>
    <hr>

        <p><img src=".idea/resources/static/img/sc1.jpg" class="img-rounded" width="180" height="180" align="left"></p>

        <p align="center">
            <font   color="#ff7f50"  size="+1">|  很多人讨厌鸡身上的这些部位，其实是补血的宝贝 </font></p>

        <p align="left">
        <li>
            <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
            <span class="glyphicon-class"><font   color="green" size="+1">| 健康速递 </font>   &nbsp;<span class="glyphicon glyphicon-ok" aria-hidden="true">鸡 </span> |补血</span>
        </li>    </p>

            <br>
        <P   align="left">鸡，大家都不陌生，但是说起鸡身上的这一部位--鸡心，很多朋友立刻皱起眉头：“嗯，这货，可不怎么好吃...”</P>
        </p><br>

        <hr>

        <p><img src=".idea/resources/static/img/sc2.jpg" class="img-rounded" width="180" height="180" align="left"></p>

        <p align="center">
            <font   color="#ff7f50"  size="+1">|  这七类人千万不可以喝酒 </font>
            <br>
        <p align="left">
            <font   color="green" size="+1">| 健康速递 </font> &nbsp;  <span class="glyphicon glyphicon-heart" aria-hidden="true">喝酒 </span> |技巧 |禁忌 </p>


        <P   align="left">喝酒已经成为了现在职场当中的一项必须技能了。喝酒不仅能让人心情放松，还能增强人际关系。但是喝酒的方式....</P><br><br><br>
        </p>
        <hr>

        <p><img src=".idea/resources/static/img/sc3.jpg" class="img-rounded" width="180" height="180" align="left"></p>

        <p align="center">
            <font   color="#ff7f50"  size="+1">|  炒菜加一物多活不止两年 </font>
            <br>
        <p align="left">
            <font   color="green" size="+1">| 健康速递 </font> &nbsp;  &nbsp;<span class="glyphicon glyphicon-earphone" aria-hidden="true">炒菜</span>


        <P   align="left">很多人喜欢吃辣椒，也有很多人不喜欢吃辣椒。那么，吃辣椒究竟是好还是不好呢？...</P>
        </p>

    </div>



    <div class="col-md-6">
    <p><img src=".idea/resources/static/img/sc4.jpg" class="img-rounded" width="480" height="50" align="left"></p> <br>


        <p><img src=".idea/resources/static/img/sc5.jpg" class="img-rounded" width="240" height="240" align="left"></p><br>

            <p><img src=".idea/resources/static/img/sc7.jpg" class="img-rounded" width="240" height="240" align="right"></p>




        <p><img src=".idea/resources/static/img/sc6.jpg" class="img-rounded" width="240" height="240" align="left"></p>
        <p><img src=".idea/resources/static/img/sc8.jpg" class="img-rounded" width="240" height="240" align="right"></p>


    </div>


</div>


  <div    >
      <p class="bg-success"   >...</p>


  </div>




</body>
</html>


