<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <title>年轻人的网站</title>
</head>


<body>

<p class="bg-light text-dark" size="+2">符合你找到的功效为  <font     color="#ff7f50" size="+2">亮发 </font> 的食品有<font     color="#ff7f50" size="+2">135 </font>种    返回按食品功效查询首页>></p>

     <div  class="row">
         <div  class="col-md-6"  align="left">
             <p><img src=".idea/resources/static/img/sc9.png" class="img-rounded" width="180" height="180" align="left"></p>
             <p align="left">
                 <font   color="blue"  size="+1">&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;|  豆腐卷 </font></p>


             <P   align="left">&nbsp; &nbsp;&nbsp;豆腐卷是素食菜谱之一，以豆腐为制作主料，烹饪技巧以包裹蒸为主，口味属于咸鲜味。整齐美观，双色双味。</P>

         </div>
         <div  class="col-md-6"   align="center">
            <p><img src=".idea/resources/static/img/sc10.jpg" class="img-rounded" width="180" height="180" align="left"></p>
             <p align="center">
                 <font   color="blue"  size="+1">|  豆豉鲮鱼 </font></p>
             <P   align="left">&nbsp; &nbsp;&nbsp;豆豉鲮鱼是以豆豉，鲮鱼、鸭肾、生姜、葱等制作而成的佐餐好辅料，豆豉鲮鱼富含丰富的蛋白质、维生素A
             </P>

         </div>
     </div>

<hr>

<div  class="row">
    <div  class="col-md-6"  align="left">
        <p><img src=".idea/resources/static/img/sc11.jpg" class="img-rounded" width="180" height="180" align="left"></p>
        <p align="left">
            <font   color="blue"  size="+1"> &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;刁子鱼</font></p>


        <P   align="left">&nbsp; &nbsp;&nbsp;刁子鱼，也叫刀子鱼、白刁鱼，生长在长江流游的具有地方特色的淡水鱼，形如柳叶，却肉质鲜美。</P>
        </p>
    </div>
    <div  class="col-md-6"   align="center">
        <p><img src=".idea/resources/static/img/sc12.jpg" class="img-rounded" width="180" height="180" align="left"></p>
        <p align="center">
            <font   color="blue"  size="+1">黑洋酥 </font></p>
        <P   align="left">&nbsp; &nbsp;&nbsp;“黑洋酥”就是猪油和黑芝麻粉的混合物，而且猪油不是熬出来的纯油，要用取自猪肚子里的原块的“板油”
        </P>
        </p>
    </div>
</div>
<hr>


    <div  class="row">
        <div  class="col-md-6"  align="left">
            <p><img src=".idea/resources/static/img/sc13.jpg" class="img-rounded" width="600" height="120" align="left"></p><br>
            <div class="col-md-11" >
               <p><img src=".idea/resources/static/img/sc15.jpg" class="img-rounded" width="180" height="180" align="left"></p>
                <p align="left">
                    <br>&nbsp;<font   color="#0000cd"  size="+2"> 小满湿热难耐 五豆粥清热祛湿 </font></p>
                <P   align="left">&nbsp;&nbsp;小满时节里，养生粥一直是作为食疗养生的手段来推荐，今天食神就推荐...<font   color="#ff7f50"  size="+1"> 【详细】 </font></P>
                </p><br>

            </div><br><br><br>
            <div class="col-md-11" >

                <font  color="#6a5acd"><h4>228期：小满气节防中暑 苦瓜瘦肉汤给肌肤补</h4></font>
                <font  color="blue"><h4>228期：小满气节对抗湿热 绿豆老鸭汤清热解暑</h4></font>
                <font  color="#006400"><h4>228期：小满气节口干咳嗽 胡萝卜竹蔗马蹄水</h4></font>
                <font  color="#8b4513"><h4>228期：小满气节烦躁失眠 莲子猪心汤健脾养胃</h4></font>
            </div>

        </div>

        <div  class="col-md-6"  align="center">
            <p><img src=".idea/resources/static/img/sc14.jpg" class="img-rounded" width="600" height="120" align="left"></p>
            <div class="col-md-11" >
                <p><img src=".idea/resources/static/img/sc16.jpg" class="img-rounded" width="180" height="180" align="left"></p>
                <p align="left">
                    <br>&nbsp;<font   color="#0000cd"  size="+2"> 133期：你会辩证饮茶吗？</font></p>
                <P   align="left">&nbsp;&nbsp;饮茶也是一种学问，不仅要分季节饮茶，还要依据个人体质兼顾其健康状态进行选择。本期食话...<font   color="#ff7f50"  size="+1"> 【详细】 </font></P>
                </p><br>

            </div><br><br>
            <div class="col-md-11"  align="left">
                <div  class="col-md-9">
                    <font  color="#6a5acd"><h4>134期：剩余月饼吃不完怎么处理</h4></font>
                    <font  color="blue"><h4>132期：如何挑选食用油？</h4></font>
                    <font  color="#006400"><h4>131期：蔬果变成蔬果汁 损失了啥</h4></font>
                    <font  color="#8b4513"><h4>130期：酵素功效=泡菜？</h4></font>

                </div>
                <div class="col-md-2" align="right">
                    <font  color="#6a5acd"><h4>2015-09-29</h4></font>
                    <font  color="blue"><h4></h4></font>
                    <font  color="#006400"><h4></h4></font>
                    <font  color="#8b4513"><h4></h4></font>
                </div>


            </div>


        </div>





        </div>





</body>
</html>