<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link th:href="@{/css/index_header.css}" rel="stylesheet">
	<title>管理者</title>
</head>
<style>

</style>
<body>
<div th:include="/model/admin_top_header :: admin_top_header" class="header-wrap"></div>

<script>


</script>
</body>
</html>